

header {
    #cabecalho {
        background-color: #899A9E;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:  -10px -10px 0px -10px;
    
        form input {
            width: 850px;
            height: 30px;
            border: #899A9E;
            border-radius: 20px;
        }
    
        input::placeholder {
            color: #999;
            font-family: "Kanit", sans-serif;
            font-weight:300;
            padding-left: 15px;
        }
    
        .logo {
            width: 200px;
            height: auto;
            padding: 0px 20px 0px 20px;
        }
    
        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }
    
        ul li {
            padding: 0px 20px 0px 20px;
        }
        
        .icones {
        width: 40px;
        height: auto;
        }
    }
    
    nav {
        background: #EEE;
        padding: 12px;
        margin: 0px -10px 0px -10px;
    
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }
        
        ul li a {
            text-decoration: none;
            font-family: "Alata", sans-serif;
            font-weight: 400;
            color: black;
        }
    
        .navHeS {
            display: flex;
            
            li {
                padding: 0px 40px 0px 0px
            }
        }
        
        .navLeC {
            display: flex;
            
            li {
                padding: 0px 40px 0px 20px
            }
        }
        
    }
}

#formulario {
    padding: 80px;
    width: 5rem;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    #cadastro {
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        width: 50rem;
        height: 600px;   
        background: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        h1 {
            font-weight: 400;
        }

        a {
            font-weight: 600;
            color: black;
        }

        input {
            border: none;
            width: 350px;
            height: 35px;
            border-radius: 15px;
            border-color: #a3a7a8;
            font-family: 'Kanit';
            font-weight: 200;
        }    

        input::placeholder {
            color: #999;
            font-family: "Kanit", sans-serif;
            font-weight:300;
            padding-left: 15px;
        }

        button {
            border: none;
            font-family: 'Kanit';
            font-weight: 400;
            font-size: 20px;
            color: white;
            width: 380px;
            background-color: #42636D;
            height: 50px;
            border-radius: 15px;
        }
        
        button:hover {
            background-color:  #2f464d;
        }
    }

    img {
        width: 400px;
        height: 600px;
        padding-left: 80rem;
    }
}


footer {
    margin: 0px -10px -10px -10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    background-color: #c7dde2;

    p {
        font-family: "Kanit", sans-serif;
        font-weight: 200;
        font-size: 20px;
        margin: 10px 0px 0px 50px;
    }

    .logo {
        width: 200px;
        height: auto;
        padding: 10px 20px 50px 0px;
    }

    #logoRodape {
        margin: 30px 0px 0px 50px;
    }

    #redesRodape {
        margin: 30px 0px 0px 0px;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin: 10px 0px 0px 10px;
    
            .icones {
                width: 40px;
                height: auto;
                padding: 0px 40px 40px 0px;
                }
        }
        
    }

    #mapaSite {
        font-family: "Kanit", sans-serif;
        color: black;
        font-weight: 200;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        padding: 30px 50px 0px 0px;
        text-decoration: none;
        
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}
input[type="email"].invalid {
    border: 2px solid red;
    background-color: #f8d7da;
}

input[type="password"].invalid {
    border: 2px solid red;
    background-color: #f8d7da; 
}