
#cabecalho {
    background-color: #899A9E;
    display: flex;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}
#cabecalho ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
#cabecalho ul li img {
    width: 40px;
    height: auto;
}
#navegacao {
    background: #EEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navegacao ul {
    list-style-type: none;
    display: flex;
}
#navegacao ul li a {
    text-decoration: none;
}
#banners {
    display: flex;
    justify-content: center;
}
#banner1 {
    width: 538.306px;
    height: 420px;
    padding-right: 10px;
}
#banner2 {
    width: 747px;
    height: 420px;
    padding-left: 10px;
}


.redesSociais {
    width: 40px;
    height: auto;
}
.logo {
    width: 200px;
    height: auto;
}