#cabecalho {
    background-color: #899A9E;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  -10px -10px 0px -10px;

    form input {
        width: 850px;
        height: 30px;
        border: #899A9E;
        border-radius: 20px;
        border-color: #899A9E;
    }

    input::placeholder {
        color: #999;
        font-family: "Kanit", sans-serif;
        font-weight:300;
        padding-left: 15px;
    }

    .logo {
        width: 200px;
        height: auto;
        padding: 0px 20px 0px 20px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    ul li {
        padding: 0px 20px 0px 20px;
    }
}

nav {
    background: #EEE;
    padding: 12px;
    margin: 0px -10px 0px -10px;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    
    ul li a {
        text-decoration: none;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        color: black;
    }

    .navHeS {
        display: flex;
        
        li {
            padding: 0px 40px 0px 0px
        }
    }
    
    .navLeC {
        display: flex;
        
        li {
            padding: 0px 40px 0px 20px
        }
    }
    
}

#banners {
    margin: 40px 50px 0px 50px;
    display: flex;
    justify-content: space-between;

    #banner1 {
        width: 585px;
        height: auto;
        border-radius: 12px;
    }
    #banner2 {
        width: 785px;
        height: auto;
        border-radius: 12px;
    }
}

#fundoH1 {
    background-color: #99AFB6;
    height: 120px;
    width: 10;
    border-radius: 25px;
    margin: 40px 50px 40px 50px;

    h1 {
        padding: 30px 0px 30px 0px;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        text-align: center;
    }
}

.capas {
    width: 200px;
    height: auto;
    margin: 30px;
}

#linha1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#linha2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    flex-flow: column wrap;
    width: 100%; 

    .preco {
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 25px;
    }

    .fundoProduto {
        width: 350px;
        height: 550px;
        background-color: rgb(237, 245, 245);
        border-radius: 5px;
        padding: 10px;
        margin: 10px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoesProduto {
        padding: 0px 0px 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: start;
        line-height: 0px;
    }

    .botoes {
        display: flex;
        flex-direction: row;
    }
    
    button {
        background-color: #246f80;
        padding: 3px 40px;
        margin: 0px 15px 0px 15px;
        border: none;
        border-radius: 20px;
    }
    
    .imgBotao {
        padding: 2px;
        color: #ffffff;
        width: 25px;
        height: auto;
    }
}

.icones {
    width: 40px;
    height: auto;
}

footer {
    margin: 0px -10px -10px -10px;
    display: flex;
    justify-content: space-around;
    background-color: #c7dde2;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-size: 20px;

    .logo {
        margin: 20px 10px 20px 10px;
        width: 200px;
        height: auto;
        padding: 0px 20px 0px 20px;
    }

    div {
        display: flex;
        flex-direction: row;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .icones {
        width: 40px;
        height: auto;
        padding: 10px;
    }
}